<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="FeedAPIProject">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="java-json.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/C:/Users/Alain Adler/Downloads/java-json.jar/java-json.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="FeedAPIProject"/>
        <property name="java-output-path" value="/FeedAPIProject/build/classes"/>
    </wb-module>
</project-modules>
